@import "bootstrap/dist/css/bootstrap.min.css";


.poker-card {
    box-sizing: border-box;
    width: 300px;
    height: 450px; 
    transition: width 0.2s, height 0.2s;
}


.top-suit, .bottom-suit {
    font-size: 3.5rem;
    line-height: 1;
}

.card-number {
    font-size: 7rem;
    line-height: 1;
}



.bottom-suit {
    transform: rotate(180deg);
}


.heart, .diamond {
    color: #dc3545;
}

.spade, .club {
    color: #212529;
}
